<form class="form-group" [formGroup]="formGroup">
    <div class="form-icon-hour">
        <img src="/assets/images/png/icon-hour.png" />
        Horário
    </div>
    <h3 class="form-title">Escolha o horário para treinar</h3>
    <mat-radio-group formControlName="hour">
        <mat-divider></mat-divider>
        <div class="radio-wrapper">
            <mat-radio-button value="morning">Manhã</mat-radio-button>
            <span class="radio-time">06:00 ás 12h</span>
        </div>
        <mat-divider></mat-divider>
        <div class="radio-wrapper">
            <mat-radio-button value="afternoon">Tarde</mat-radio-button>
            <span class="radio-time">12:01 ás 18h</span>
        </div>
        <mat-divider></mat-divider>
        <div class="radio-wrapper">
            <mat-radio-button value="night">Noite</mat-radio-button>
            <span class="radio-time">18:01 ás 23h</span>
        </div>
        <mat-divider></mat-divider>
    </mat-radio-group>

    <h3 class="form-title">Personalize sua busca</h3>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="filter-icon">filter_alt</mat-icon>
                    Filtros adicionais
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Regras -->
            <section class="rules-wrapper">
                <H4 class="rules-title">Comodidades</H4>
                <p class="rules-description">Selecione as comodidades que deseja</p>
                <div class="toggle-wrapper">
                    <mat-slide-toggle class="rules-toggle" formControlName="hasTowel">Possui de toalha</mat-slide-toggle>
                    <mat-slide-toggle class="rules-toggle" formControlName="hasFountain">Possui bebedouro</mat-slide-toggle>
                    <mat-slide-toggle class="rules-toggle" formControlName="hasLocker">Possui vestiário</mat-slide-toggle>
                </div>
                <mat-divider class="expansion-divider"></mat-divider>
            </section>

            <!-- Endereço -->
            <section class="address-wrapper">
                <H4 class="address-title">Localização</H4>
                <p class="address-description">Selecione a localização que deseja</p>
                <div class="address-wrapper">
                    <mat-form-field class="address-field">
                        <mat-label>UF</mat-label>
                        <input type="text" matInput formControlName="uf" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.name}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <mat-divider class="expansion-divider"></mat-divider>
            </section>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="checkbox-wrapper">
        <mat-slide-toggle name="showClosed" formControlName="showClosed">Exibir unidades fechadas</mat-slide-toggle>
        <span>Resultados encontrados: {{ results.length }}</span>
    </div>
    <div class="btn-wrapper">
        <button mat-flat-button class="btn btn-primary" (click)="onSubmit()">Encontrar unidade</button>
        <button mat-flat-button class="btn btn-secondary" (click)="onClean()">Limpar</button>
    </div>
</form>