.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;  
    max-width: 80%;

    margin: 0 auto;
    margin-bottom: 14px;
    padding: 24px;
    border: 4px solid var(--light-text);
    border-radius: 18px;
  }
  
  .form-group .form-icon-hour {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: var(--light-gray);
    gap: 8px;

    img {
      height: 30px;
    }
  }
  
  .form-group .form-title {
    font-size: 24px;
    color: var(--medium-text);
    font-weight: 300;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  .form-group mat-divider {
    width: 100%;
  }

  .form-group mat-radio-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    .radio-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    
      padding: 8px 4px;
      color: var(--medium-text);
      position: relative;
    }

    .radio-time {
      position: absolute;
      right: 0px;
    }
  }

  .form-group mat-accordion {
    width: 100%;
    margin: 10px 0px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
  }

  .form-group .filter-icon {
    margin-right: 8px;
    color: var(--yellow);
  }

  .form-group .expansion-divider {
    margin: 14px 0;
  }

  .form-group .rules-wrapper {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin: 16px 0;

    .rules-title {
        font-size: 20px;
        color: var(--medium-text);
        margin-bottom: 8px;
    }

    .rules-description {
        font-size: 14px;
        color: var(--light-gray);
        margin-bottom: 16px;
    }

    .toggle-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;        
    }

    .rules-toggle {
        margin: 8px;
    }
  }

  .form-group .address-wrapper {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin: 16px 0;

    .address-title {
        font-size: 20px;
        color: var(--medium-text);
        margin-bottom: 8px;
    }

    .address-description {
        font-size: 14px;
        color: var(--light-gray);
        margin-bottom: 16px;
    }
  }

  .form-group .checkbox-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    color: var(--light-gray);
    margin: 32px 0;
    gap: 12px;
  }

  .form-group .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    gap: 12px;

    .btn {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 4px;
      border: none;
      color: var(--dark-grey);
      padding: 20px 14px;
      width: 100%;
      cursor: pointer;
    }

    .btn-primary {
      background-color: var(--yellow);
    }

    .btn-secondary {
      background-color: transparent;
      border: 2px solid var(--light-text);
    }
  }
  
  @media (min-width: 768px) {
    .form-group .btn-wrapper {
      flex-direction: row;
    }
  
    .form-group .btn-wrapper .btn {
      width: 25%;
    }
  
    .form-group .checkbox-wrapper {
      flex-direction: row;
      justify-content: space-between;
    }

    .form-group .rules-wrapper .toggle-wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .form-group .rules-wrapper .address-wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
